<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Website Builder Của Bạn</title>
  </head>
  <body>
    <header>
      <h1>Website Builder Của Bạn</h1>
    </header>
    <div id="edit-modal" class="modal">
      <div class="modal-content">
        <span class="close">×</span>
        <form id="edit-form">
          <label for="content">Nội dung:</label>
          <textarea id="content" name="content"></textarea>
          <input type="submit" value="Cập nhật" />
        </form>
      </div>
    </div>
    <!-- Khu vực chứa các component có thể kéo -->
    <div id="components-container">
      <div class="draggable" draggable="true" id="component-text">Văn Bản</div>
      <div class="draggable" draggable="true" id="component-image">
        Hình Ảnh
      </div>
      <!-- Thêm các component khác tại đây -->
    </div>

    <!-- Khu vực có thể thả component vào -->
    <div id="drop-zone" ondrop="drop(event)" ondragover="allowDrop(event)">
      <p>Kéo component vào đây</p>
    </div>

    <script src="scripts.js"></script>
  </body>
</html>
